@media screen and (max-width: 1380px) {
    .container {
        flex-direction: column;
    }
}

.container {
    display: flex;
}

.col-left {
    flex: 1;
}

.col-center {
    width: 900px;
}

.col-right {
    flex: 30%;
}

[class*="col-"] {
    float: left;
    border: 1px solid red;
}

.enemy-box {
    width: 480px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.enemy-left * {
    max-width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
}

.enemy-stat {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.enemy-stat.type {
    text-align: left;
    font-weight: bold;
}

.enemy-stat.value {
    text-align: right;
    font-weight: normal;
}

#tick {
    width: 900px;
}