body {
    background-color: #333;
    color: white;
    font: normal 14px Verdana, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 8px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 8px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-col-1 {
    align-items: center;
    background-color: #666;
    display: flex;
    flex-direction: column;
    float: left;
    max-width: 1000px;
    padding: 12px;
}

.flex-col-2 {
    background-color: #666;
    flex-grow: 1;
    float: left;
    max-width: 500px;
    padding: 12px;
}

#title-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    max-width: 1000px;
}

.control {
    background-color: #333;
    font-size: 20px;
    line-height: 36px;
    margin: 8px;
    padding: 6px;
    text-align: center;
}

.control:hover {
    background-color: #444;
    cursor: pointer;
}

.control:active {
    background-color: #666;
}

.control.square {
    font-size: 32px;
    height: 40px;
    width: 40px;
}

#tick {
    accent-color: #e21818;
}

#enemy-timeline {
    display: flex;
    font: normal 12px Verdana, sans-serif;
    margin-top: 10px;
    overflow: auto;
    width: 875px;
}

.enemy-timeline-box {
    background-color: #333;
    margin-right: 4px;
}

.enemy-timeline-box-content {
    align-items: center;
    display: flex;
    justify-content: left;
    padding: 0px 16px;
}

.enemy-timeline-left * {
    font-weight: bold;
    margin: 2px 4px;
    max-width: 100px;
    text-align: center;
}

#enemy-info {
    font: normal 12px Verdana, sans-serif;
    margin-top: 16px;
    max-height: 900px;
    overflow: auto;
}

.enemy-info-box {
    background-color: #333;
    height: 200px;
    margin-bottom: 8px;
}

.enemy-info-box-content {
    align-items: center;
    display: flex;
    height: 168px;
    justify-content: left;
    padding: 16px 0px 16px 22px;
}

.enemy-info-left * {
    font-weight: bold;
    margin: 2px 4px;
    max-width: 100px;
    text-align: center;
}

.enemy-stat {
    padding: 2px 6px;
}

.enemy-stat.type {
    font-weight: normal;
    text-align: left;
}

.enemy-stat.value {
    font-weight: bold;
    text-align: right;
}

#zone-select {
    align-items: flex-start;
    background-color: #333;
    display: flex;
    flex-direction: column;
    margin-top: 20px;    
    padding: 12px 25px;
    width: 825px;
}

#zone-name {
    color: white;
    margin-top: 8px;
}

#zone-level {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

#overlay {
    background: black;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
}

#popup {
    background: #444;
    display: none;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    top: 2%;
    width: 600px;
}

.popup-section {
    padding: 8px;
}

#popup-close {
    color: #bbbbbb;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

#popup-close:hover {
    color: white;
    cursor: pointer;
}

#popup-nav {
    font-size: 16px;
}

.popup-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.popup-item {
    background-color: #161616;
    flex-basis: 0;
    flex-grow: 1;
    margin: 4px 4px;
    padding: 4px 12px;
    text-align: center;
    white-space: nowrap;
}

.popup-item:hover {
    background-color: #666;
    cursor: pointer;
}

.popup-item:active {
    background-color: #ddd;
    color: black;
}

.popup-item.selected {
    background-color: #ddd;
    color: black;
}

.popup-item.selected:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
